<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.secuso.privacyfriendlyintervaltimer">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />


    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <!-- The workout timer runs as a foreground service holding a wake lock, so that it keeps
         counting down while the screen is locked or the user is in another app. -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".PFIntervalTimer"
        android:theme="@style/AppTheme">
        <activity
            android:name="org.secuso.privacyfriendlyintervaltimer.activities.SplashActivity"
            android:theme="@style/SplashTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.secuso.privacyfriendlyintervaltimer.tutorial.TutorialActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="org.secuso.privacyfriendlyintervaltimer.activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="org.secuso.privacyfriendlyintervaltimer.activities.AboutActivity"
            android:label="@string/about"
            android:parentActivityName="org.secuso.privacyfriendlyintervaltimer.activities.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.secuso.privacyfriendlyintervaltimer.activities.MainActivity" />
        </activity>
        <activity
            android:name="org.secuso.privacyfriendlyintervaltimer.activities.HelpActivity"
            android:label="@string/help"
            android:parentActivityName="org.secuso.privacyfriendlyintervaltimer.activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.secuso.privacyfriendlyintervaltimer.activities.MainActivity" />
        </activity>
        <activity
            android:name="org.secuso.privacyfriendlyintervaltimer.activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="org.secuso.privacyfriendlyintervaltimer.activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.secuso.privacyfriendlyintervaltimer.activities.MainActivity" />
        </activity>
        <activity
            android:name="org.secuso.privacyfriendlyintervaltimer.activities.WorkoutActivity"
            android:label="@string/title_activity_workout"
            android:launchMode="singleTask"
            android:parentActivityName="org.secuso.privacyfriendlyintervaltimer.activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.secuso.privacyfriendlyintervaltimer.activities.MainActivity" />
        </activity>
        <activity
            android:name="org.secuso.privacyfriendlyintervaltimer.activities.MotivationAlertTextsActivity"
            android:label="@string/title_activity_motivation_alert_texts"
            android:parentActivityName="org.secuso.privacyfriendlyintervaltimer.activities.SettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.secuso.privacyfriendlyintervaltimer.activities.SettingsActivity" />
        </activity>

        <service
            android:name="org.secuso.privacyfriendlyintervaltimer.services.TimerService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="specialUse">
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="An interval training timer that has to keep counting down and playing its audio cues while the screen is off or the user is in another app." />
        </service>

        <receiver android:name="org.secuso.privacyfriendlyintervaltimer.receivers.OnBootCompletedBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver android:name="org.secuso.privacyfriendlyintervaltimer.receivers.MotivationAlertReceiver" />

        <activity
            android:name="org.secuso.privacyfriendlyintervaltimer.activities.StatisticsActivity"
            android:label="@string/title_activity_statistics"
            android:parentActivityName="org.secuso.privacyfriendlyintervaltimer.activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.secuso.privacyfriendlyintervaltimer.activities.MainActivity" />
        </activity>

        <service
            android:name=".backup.PFABackupService"
            android:enabled="true"
            android:exported="true"
            android:process=":backup"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="org.secuso.privacyfriendlybackup.api.pfa.PFAAuthService" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:node="remove" />
    </application>

</manifest>